.hero-custom-img-block {
  overflow: hidden;
  background-color: #52bd94;
  position: relative;
  //width: 410px;
  //height: 526px;
  width: 100%;
  height: 400px;
  margin-left: auto;
  border-radius: 12px;
  .hero-custom-shape1 {
    position: absolute;
    right: 0;
    width: max-content;
  }
  .hero-custom-shape2 {
    position: absolute;
    left: 0;
    //bottom: 0;
    bottom: -234px;
    width: max-content;
  }
  .hero-custom-pic {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .hero-custom-pic2 {
    position: absolute;
    width: 132px;
    right: 0;
    bottom: 134px;
  }

  .hero-message-block {
    position: absolute;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 262px;
    height: auto;
    left: 20px;
    top: 48px;
    &.mess-1 {
      opacity: 0;
    }
    &.mess-2 {
      opacity: 0;
      width: 138px;
    }
  }
  @media (min-width: 768px) {
    width: 339px;
    height: 418px;
  }
  @media (min-width: 1024px) {
    width: 410px;
    height: 526px;
  }
}
